# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

_site/
.sass-cache/
*.swp
pkg/
test/
_deploy/*
Rakefile

.jekyll-metadata
.idea/workspace.xml
.idea/

.idea/workspace.xml
img/.DS_Store
img/career/.DS_Store

docs/.DS_Store
